body {
  margin-top: 45px;
  margin-right: 30px;
}

#mount {
  margin: 0px;
  padding: 0px;
}

.rules-list {
  list-style-type: none;
  height: 700px;
  overflow-y: scroll;
}

.rules-list > li {
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: #ccc;
}

.amendements-list {
  list-style-type: none;
  height: 680px;
  overflow-y: scroll;
}

.amendements-list > li {
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: #ccc;
}

.amendements-list > li.matched {
  background-color: #ccffcc;
}

.amendements-list > li.unmatched {
  background-color: #f28282;
}

.regex {
  height: 300px;
  border: 1px solid black;
}

.regex-editor {
  height: 100%;
}

.title {
  margin-top: 3px;
  padding-top: 1px;
  padding-right: 10px;
  font-family: Garamond;
  border: 1px solid black;
}
